extend ./layouts/main.pug

include ./components/title.pug

block preheader
    | #{`Payslip for ${generatedMonth}`}.

block content
    p
        span= `Dear `
        b= employeeName
        | ,
    p.text-black= `We attached a ${generatedMonth} payslip pdf below.`