 /* .tooltip-main
        .tooltip.top #{t(project.name)}
        .project-name #{t(project.name)}*/

.tooltip-main {
    position: relative;
    cursor: pointer;
}

.tooltip-main .tooltip {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: rgba(0,0,0,0.8);
    border: none;
    padding: 3px 12px;
    font-size: 0.8em;
    color: #fff;
    border-radius: 3px;
    line-height: 1.4;
    white-space: nowrap;
}

.tooltip-main:hover .tooltip {
    display: inline-block !important;
}

.tooltip-main:hover .tooltip::before {
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    content: "";
    z-index: 100;
}

.tooltip-main:hover .tooltip.top {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-main:hover .tooltip.bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-main:hover .tooltip.left {
    top: 50%;
    right: calc(100% + 7px);
    transform: translateY(-50%);
}

.tooltip-main:hover .tooltip.right {
    top: 10%;
    left: calc(100% + 2px);
    transform: translateY(-50%);
}

.tooltip-main:hover .tooltip.top::before {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-width: 0;
    border-top-color: rgba(0, 0, 0, 0.8);
}

.tooltip-main:hover .tooltip.bottom::before {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top-width: 0;
    border-bottom-color: rgba(0, 0, 0, 0.8);
}

.tooltip-main:hover .tooltip.left::before {
    border-right-width: 0;
    border-left-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}

.tooltip-main:hover .tooltip.right::before {
    border-left-width: 0;
    border-right-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
}