<!DOCTYPE html>
html(lang="en")
	head
		meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		base(href=`${siteUrl}/`)
		title PDF TEMPLATES
		link(rel="preconnect", href="https://fonts.gstatic.com/", crossorigin)
		style(type="text/css")
			include ../assets/pdf.css
	body
		block content