extend ./layouts/main.pug 

block content
	.payslip-box
		table.border-bottom(cellspacing="0" cellpadding="0")
			tbody
				tr
					td.pb-0.pt-0
						.mb-5 
							b.font-22 Namlabs Techonolgy
						div 588, Estancia Chennai Tamil Nadu 600021 India
					td.pb-0.pt-0.text-right 
						img(src="images/atatus-icon.svg" alt="atatus")

		table(cellspacing="0" cellpadding="0")
			tbody
				tr
					td(colspan="4") 
						b.font-22 Payslip for the month of June, 2020
				tr
					td.pb-0(colspan="4")
						.mb-5 
							b.font-18 PREET SETTY
							span , emp012
						div Software Engineer | Date of Joining : 21-09-2014
				tr
					td.valign-bottom 
						.mb-5 UAN Number
						div 
							b 101010101010 
					td.valign-bottom 
						.mb-5 PF A/C Number
						div 
							b AA/AAA/0000000/000/0000000
					td.valign-bottom 
						.mb-5 Bank Account Number
						div 
							b 101010101010
					td.text-right 
						.mb-5 Employee Net Pay
						.mb-5.font-38 ₹43,150.00
						div Paid Days : 28 | LOP Days : 3
		br
		br
		br
		table.table(cellspacing="0" cellpadding="0")
			thead
				tr
					th EARNINGS 
					th AMOUNT
					th YTD
					th
					th DEDUCTIONS
					th AMOUNT
					th YTD
			tbody
				tr
					td Basic
					td ₹25,000.00
					td ₹75,000.00
					td
					td EPF contribution
					td ₹3,000.00
					td ₹9,000.00
				tr
					td House Rent Allowance
					td ₹12,500.00
					td ₹37,500.00
					td
					td Income Tax
					td ₹850.00
					td ₹2,550.00
			tfoot
				tr
					td Gross Earnings
					td ₹44,500.00
					td
					td
					td Total Deductions
					td ₹3,850.00
					td
		br
		br
		table.table(cellspacing="0" cellpadding="0")
			thead
				tr
					th REIMBURSEMENTS
					th AMOUNT
					th YTD
			tbody
				tr
					td Telephone Reimbursement
					td ₹500.00
					td ₹1,500.00
			tfoot
				tr
					td Total Reimbursement
					td ₹2,500.00
					td
		br
		br
		table
			tbody
				tr
					td.net-payable
						.mb-5
							span.text Total Net Payable ₹43,150.00
							span (Rupees Forty three thousand hundred & fifty only)
						.calculation-text Total Net Payable= ((Gross Earnings - Total Deductions) + Reimbursements)
		br